.underline {
	text-decoration: underline;
}

.text-green{
	color: var(--color__success-dark);
}

.text-second{
	color: var(--color__secondary);
}

.text-blu{
	color: var(--color__blue);
}

.text-red{
	color: var(--color__red);
}