// ------------------------------------- Typography
/**
* Typography
*
* @example
* $font-properties: (
	selector:(
		breakpoint || null:(
			size: font-size,
			height: line-height,
			weight: font-weight,
			family: font-family,
			color: color,
			spacing: letter-spacing,
		)
	)
)
*/
$font-properties: (
	"body": (
		null: (
			size: 16px,
			height: 1.5,
			weight: 400,
			family: $font__base,
			color: var(--color__blktodimblu)
		)
	),
	"h1,h2,h3,h4,h5,h6": (
		null: (
			height: 1.2,
			weight: 600,
			color: var(--color__text__dark)
		)
	),
	"h1": (
		null: (
			size: 40px
		),
		medium: (
			size: 36px
		),
		small: (
			size: 32px
		)
	),
	"h2": (
		null: (
			size: 38px,
			height: 1.04
		),
		medium: (
			size: 34px
		),
		small: (
			size: 30px
		)
	),
	"h3": (
		null: (
			size: 24px,
			height: 1.20
		),
		small: (
			size: 20px
		)
	),
	"h4": (
		null: (
			size: 18px,
			height: 1.4
		),
	),
	"h5": (
		null: (
			size: 16px,
			height: 1.4
		),
	),
	"h6": (
		null: (
			size: 14px,
		),
	)
);

/**
* @include font($font-properties, $mobileFirst: false);
*/
@include font($font-properties, false);
