.simple-text-with-icon {
	&__inner {
		display: flex;
		justify-content: space-between;
		gap: 16px 32px;
		@include breakpoint(medium) {
			flex-wrap: wrap-reverse;
		}
	}

	&__text {
		@include flex-width(90%);
		color: var(--color__blktowhite);

		.title {
			color: var(--color__pryblutodimblue);
		}
	}

	&__icon {
		@include breakpoint(medium, true) {
			flex-shrink: 0;
		}
	}
}

body {
	&.dark-mode {
		.simple-text-with-icon {
			&__icon {
				img {
					filter: invert(1);
				}
			}
		}
	}
}

.simple-three-block {
	&__inner {
		@include grid(3, 24px, 80px);
		@media screen and (max-width: 1024px) {
			@include grid(2);
		}
		@media screen and (max-width: 767px) {
			@include grid(1, 40px);
		}
	}

	&__title{
		color: var(--color__pryblutodimblue);
	}

	&__text{
		color: var(--color__pryblutogry);
	}
}
